<form action="" method="get" id="sortProduct">

    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button  type="submit" name="order_by" value="hot" 
        class="btn btn-outline-primary">Горячие</button>

        <button type="submit" name="order_by" value="best"
         class="btn btn-outline-primary">Лучшие</button>

        <button type="submit" name="order_by" value="new"
         class="btn btn-outline-primary">Свежие</button>
    </div>  
        

  </form>
  








