{% extends 'base_index/base_index.html' %} 
{% load static %}

{% block MainContent%}

<header class="masthead" style="background-image: url({% static 'index_static/assets/img/home-bg.jpg' %})"> 
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Simple Blog example</h1>
                    <span class="subheading">Здесь могла бы быть ваша реклама</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% for post in posts%}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{post.get_absolute_url}}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.body|truncatechars:255}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by 
                        <!-- <a href="{% url 'blog:posts-by-author' post.author.nickname %}"> -->
                        <a href="{% url 'portfolio:user-profile' post.author.nickname %}">

                            {{post.author.nickname}}</a>
                        on {{post.publish}}
                    </p>
                    {% if post.category %}

                    <p class="post-meta">
                        <a href="{{post.category.get_absolute_url}}">
                            {{post.category.name}}</a>
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
        </div>
    </div>    
{% endfor %}
       <!-- Pager-->
    {% include "blog/post/includes/pagination.html" %}

{% endblock %}
