{% load blog_extras %}
<div class="card-body p-4">
          {% if form %}
            <div class="form-outline mb-4">

              <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.body }}

                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-info btn-lg">Save</button>
                </div>
            
               

            </form>

            </div>
          {% endif %}

          {% if comments %}{% for comment in comments %}
          <div class="card mb-4">
            <div class="card-body">
              <p>{{comment.body}}</p>
  
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                    height="25" />
                  <p class="small mb-0 ms-2">{{comment.author.nickname}}</p>
                </div>

                
                  <div class="d-flex flex-row align-items-start">
                    Like
                    <form action="{% url 'like_dislike:comment_like' comment.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" 
                            {% if comment.id in user_ckeck_comments_by_like_dislike %}
                              {% if user_ckeck_comments_by_like_dislike|get_item:comment.id > 0 %}
                                class="btn btn-success"
                              {% else %}
                                class="btn btn-secondary"
                              {% endif %}

                            {% else %}
                              class="btn btn-secondary"
                            {% endif %}
                          >
                          {{ comment.votes.likes.count  }}
                        </button> 
                    </form> 

                    Dislike
                    <form action="{% url 'like_dislike:comment_dislike' comment.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" 
                          {% if comment.id in user_ckeck_comments_by_like_dislike %}
                            {% if user_ckeck_comments_by_like_dislike|get_item:comment.id < 0 %}
                              class="btn btn-danger"
                            {% else %}
                              class="btn btn-secondary"
                            {% endif %}

                          {% else %}
                            class="btn btn-secondary"
                          {% endif %}
                        >
                          {{ comment.votes.dislikes.count  }}
                        </button> 
                    </form> 

                  </div>


              </div>
            </div>
          </div>
          {% endfor %}{% endif%}
        </div>


        <!-- <form action="{% url 'like_dislike:post_dislike' post.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" 

          {% if post_like_check < 0  %}
          class="btn btn-danger"
          {% else %}
          class="btn btn-secondary"                    
          {% endif %}

          data-toggle="button" aria-pressed="false" autocomplete="off">
              {{ post.votes.dislikes.count }}
      </button> 
      </form>  -->