{% load blog_extras %}

      

<div class="card-body p-4">
          {% if form %}
            <div class="form-outline mb-4">

              <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.body }}

                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-info btn-lg">Save</button>
                </div>
            
               

            </form>

            </div>
          {% endif %}

          {% if comments %}{% for comment in comments %}
          <div class="card mb-4">
            <div class="card-body">
              <p>{{comment.body}}</p>
  
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                    height="25" />
                  <p class="small mb-0 ms-2">{{comment.author.nickname}}</p>
                </div>

                
                  <div class="d-flex align-items-center flex-column">

                    <div>
                      <div class="text-center" >

                        raiting: <span id="raiting-comment-{{comment.id}}">{{comment.raiting}}</span>
                        </div>
                      <button 
                      
                      {% if comment.id in user_ckeck_comments_by_like_dislike %}
                        {% if user_ckeck_comments_by_like_dislike|get_item:comment.id > 0 %}
                          class="btn btn-success"
                        {% else %}
                          class="btn btn-secondary"
                        {% endif %}
                
                      {% else %}
                        class="btn btn-secondary"
                    {% endif %}
                      
                      
                      id="btn-like-comment-{{comment.id}}"
                      onclick="add_like_dislike('like', 'comment', '{{comment.id}}')"
                      >Like</button>
                    </div>
                    <div>
                      <button 
                      {% if comment.id in user_ckeck_comments_by_like_dislike %}
                        {% if user_ckeck_comments_by_like_dislike|get_item:comment.id < 0 %}
                            class="btn btn-danger"
                        {% else %}
                            class="btn btn-secondary"
                        {% endif %}
                
                      {% else %}
                        class="btn btn-secondary"
                      {% endif %}
                      
                      id="btn-dislike-comment-{{comment.id}}"
                      onclick="add_like_dislike('dislike', 'comment', '{{comment.id}}')"
                      >Dislike</button>
                    </div>

                  </div>





              </div>
            </div>
          </div>
          {% endfor %}{% endif%}
        </div>
