{% load blog_extras %}
{% load static %}

<div class="d-flex justify-content-center text-center">
  <div class="text-center" >
  raiting: <span id="raiting-post-{{post.id}}">{{post.raiting}}</span>
  </div>
    <div>
      <button 
      
      {% if post.id in user_ckeck_posts_by_like_dislike %}
        {% if user_ckeck_posts_by_like_dislike|get_item:post.id > 0 %}
          class="btn btn-success"
        {% else %}
          class="btn btn-secondary"
        {% endif %}

      {% else %}
        class="btn btn-secondary"
    {% endif %}
      
      id="btn-like-post-{{post.id}}"
      onclick="add_like_dislike('like', 'post', '{{post.id}}')"
      >Like</button>
    </div>
    <div>
      <button 
      {% if post.id in user_ckeck_posts_by_like_dislike %}
        {% if user_ckeck_posts_by_like_dislike|get_item:post.id < 0 %}
            class="btn btn-danger"
        {% else %}
            class="btn btn-secondary"
        {% endif %}

      {% else %}
        class="btn btn-secondary"
      {% endif %}
      
      id="btn-dislike-post-{{post.id}}"
      onclick="add_like_dislike('dislike', 'post', '{{post.id}}')"
      >Dislike</button>
    </div>
</div>

