{% load blog_extras %}

<div class="d-flex justify-content-center text-center">
  <div class="text-center">
  raiting: {{post.raiting}}
  </div>
    <div> 
        <form action="{% url 'like_dislike:post_like' post.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">

            <button type="submit" 

            {% if post.id in user_ckeck_posts_by_like_dislike %}
              {% if user_ckeck_posts_by_like_dislike|get_item:post.id > 0 %}
                class="btn btn-success"
              {% else %}
                class="btn btn-secondary"
              {% endif %}

            {% else %}
              class="btn btn-secondary"
            {% endif %}
          >
          like
        </button> 
        </form>

    </div>
    
    <div>
        <form action="{% url 'like_dislike:post_dislike' post.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" 
                {% if post.id in user_ckeck_posts_by_like_dislike %}
                {% if user_ckeck_posts_by_like_dislike|get_item:post.id < 0 %}
                    class="btn btn-danger"
                {% else %}
                    class="btn btn-secondary"
                {% endif %}

                {% else %}
                class="btn btn-secondary"
                {% endif %}
            >
            dislike
            </button> 
        </form> 
    </div>
</div>

